@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?7kkyc2');
    /* IE9+ */
    src: url('fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/icomoon.woff?7kkyc2') format('woff'),
        /* chrome、firefox */
        url('fonts/icomoon.ttf?7kkyc2') format('truetype'),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('fonts/icomoon.svg?7kkyc2#iconmoon') format('svg');
    font-weight: normal;
    font-style: normal;
    /* iOS 4.1- */
}


body {
    background-image: url("../src/background.gif");
}

.head {

    height: 80px;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    overflow: auto;
}

.index {
    margin-top: 20px;
    margin-bottom: 20px;
}
.index_floor{
    margin-top: 20px;
}

.content {
    justify-content: space-around;
    margin-left: 20px;
    height: 600px;
}

.content ul {
    display: flex;
    /*flex 弹性布局加上这句话*/
    justify-content: space-around;
    /*也要加上他*/
    margin-top: 20px;
    margin-left: 20px;
}

.person {
    display: flex;
    margin-left: 40px;
    margin-right: 30px;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);

}

.team_introduce {
    display: flex;
    margin-left: 40px;
    margin-right: 30px;
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);

}

.person-icon img {
    display: flex;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}


.introduce ul {
    list-style: none;
    list-style-type: none;
}

.introduce ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.introduce ul li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;

}

.introduce_team ul {
    list-style: none;
    list-style-type: none;
}

.introduce_team ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.introduce_team ul li img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    vertical-align: middle;

}

.introduce_team ul li p {
    display: inline;

}

.list_item li {

    margin-left: 40px;
    margin-right: 40px;
    background: #fff;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.item_top p {
    list-style: none;
    font-size: 10px;
    overflow: hidden;
}

.item_img ul {
    overflow: hidden;
}

.item_img ul li {
    padding: 0;
    width: 100px;
    float: right;
    list-style-type: none;
}

.item_img ul li img {
    width: 100px;

}


.p {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    height: 10px;
    font-size: 15px;
    margin-left: 20px;
    line-height: 20px;
}

.introduce ul li p {
    display: inline;
    font-size: 10px;


}

.introduce ul li p a {

    text-decoration: none;
    color: black;


}

.dialog {
    bottom: 0px;
    right: 50px;
    position: fixed;
    z-index: 1;
}

.dialog img {
    width: 80px;
    height: auto;
}

.content ul li {
    position: relative;
    width: 450px;
    height: 600px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(226, 226, 226);
    display: inline-block;
    overflow: hidden;
}

.xx {
    width: 100%;
    height: 200px;
    background-color: rgba(233, 233, 233, 0.489);
    bottom: 0px;
    position: absolute;
    vertical-align: middle;
}


.content ul li .xx img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    vertical-align: middle;
}

.floor {
    height: 500px;
    margin: 30px;
    background-color: rgba(99, 99, 99, 0.647);
}

.content ul li .xx p {
    display: inline-block;
    margin-top: 30px;
}

.content ul li img {
    text-align: center;
    width: 450px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(226, 226, 226);
    display: inline-block;
}

.content ul li>img:hover {

    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.top {
    border-radius: 10px;
    margin-left: 40px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    margin-top: 10px;
    display: inline;
    height: auto;

}

.next {
    border-radius: 10px;
    margin-left: 40px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    margin-top: 50px;
    display: inline;


}

.next h {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;
}

.team {
    border-radius: 10px;
    margin-left: 40px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(196, 196, 196);
    margin-top: 50px;
    display: inline;


}

.team h {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;
}

.top h {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;

}

.icon {
    float: right;
}

.icon img {
    margin-top: 25px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 50px;

}

.icon img:hover {
    box-shadow: 0px 0px 20px rgb(74, 74, 74);
}

.background img {
    border-radius: 10px;
    width: 100%;
}

.background img:hover {

    transition: all 0.5s ease 0s;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);

}

.line {
    width: auto;
    height: 0.5px;
    background-color: darkgray;
}

.p-head {
    width: auto;
}

head {
    margin: 0 auto;
}

* {

    margin: 0;
    padding: 0;

}

footer {
    height: 200px;
    width: auto;
    background-color: #ccc;
}